html {
    margin: 0;
    font-family: system-ui;
}

body {
    margin: 0;
    color: #F7C;
    background: #78D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./pawel-czerwinski-wrQlWik8tTw-unsplash.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}

h1 {
    --spacing: 0.1em;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: var(--spacing);
    animation-name: slidein;
    animation-duration: 2s;
}

@keyframes slidein {
    from {
        opacity: 0;
        letter-spacing: 2em;
    }

    to {
        opacity: 1;
        letter-spacing: var(--spacing);
    }
}

a {
    text-decoration: none;
    color: #CCC;
    background: #111;
    padding: 0.5em 1em;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.space-y-2 > * + * {
    margin-top: 0.25rem;
}
