html {
    margin: 0;
    font-family: system-ui;
}

body {
    margin: 0;
    color: #F7C;
    background: #78D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./pawel-czerwinski-wrQlWik8tTw-unsplash.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}

h1 {
    --spacing: 0.1em;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: var(--spacing);
    animation-name: slidein;
    animation-duration: 2s;
}

@keyframes slidein {
    from {
        opacity: 0;
        letter-spacing: 2em;
    }

    to {
        opacity: 1;
        letter-spacing: var(--spacing);
    }
}

a {
    text-decoration: none;
    color: #CCC;
    background: #17D;
    padding: 1rem 2rem;
}

.grid-ish {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.grid-ish > *:last-child {
    grid-column: 1 / span 2;
}


.border {
    border-radius: 0.25rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.space-y-2 > * + * {
    margin-top: 0.5rem;
}

.space-x-2 > * + * {
    margin-left: 0.5rem;
}

.text-center {
    text-align: center;
}

.bg-red-200 {
    background: #C12;
}
